<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="commands" name="Franca ARA Converter Console Commands" schema="schema/commands.exsd"/>
   <extension-point id="optionGroups" name="Franca ARA Converter Console Option Groups" schema="schema/optionGroups.exsd"/>
   <extension-point id="options" name="Franca ARA Converter Console Options" schema="schema/options.exsd"/>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.genivi.faracon.console.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.genivi.faracon.console.application"
            name="Franca ARA Converter">
         <property
               name="appName"
               value="Franca ARA Converter">
         </property>
      </product>
   </extension>
   <extension
         point="org.genivi.faracon.console.commands">
      <command
            class="org.genivi.faracon.console.internal.HelpCommandHandler"
            id="org.genivi.faracon.console.commands.help"
            name="Console Help">
         <options>
            <option
                  argCount="0"
                  description="Print out options of the tool."
                  hasOptionalArg="false"
                  id="org.genivi.faracon.console.options.help"
                  longName="help"
                  required="true"
                  shortName="h">
            </option>
         </options>
      </command>
      <command
            class="org.genivi.faracon.console.internal.VersionCommandHandler"
            id="org.genivi.faracon.console.commands.versionInfo"
            name="Version Information">
         <options>
            <option
                  argCount="0"
                  description="Show version number of the tool."
                  hasOptionalArg="false"
                  id="org.genivi.faracon.console.options.version"
                  longName="version"
                  required="true"
                  shortName="v">
            </option>
         </options>
      </command>
   </extension>
</plugin>
