<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="FARACON Target Platform - Eclipse 4.7" sequenceNumber="1562682767">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.7.2.v20171130-0906"/>
      <unit id="org.eclipse.pde.feature.group" version="3.13.2.v20171130-0510"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.7.2.v20171108-1834"/>
      <unit id="org.eclipse.equinox.ds" version="1.5.0.v20170307-1429"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
      <repository location="https://download.eclipse.org/releases/oxygen/201712201001"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.14.0.v20180523-0937"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.14.0.v20180523-0937"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.14.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.franca.core.sdk.feature.group" version="0.13.1.201807231814"/>
      <unit id="org.franca.ui.sdk.feature.group" version="0.13.1.201807231814"/>
      <unit id="org.franca.providers.sdk.feature.group" version="0.13.1.201807231814"/>
      <repository location="http://franca.github.io/franca/update_site/releases/0.13.1"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sphinx.sdk.feature.group" version="0.11.0.201706140911"/>
      <unit id="org.eclipse.sphinx.viatra.query.sdk.feature.group" version="0.11.0.201706140911"/>
      <repository location="http://download.eclipse.org/sphinx/releases/0.11.x"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.artop.base.sdk.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.sdk.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.core.autosar447.sdk.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.core.metamodel447.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.core.metamodels.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.core.converters.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.core.workspace.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.validation.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.thirdparty.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.validation.constraints.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.eel.sdk.feature.group" version="1.1.0.201706291244"/>
      <unit id="org.artop.validation322.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.core.viatra.query.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.core.viatra.query40.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.ecuc.accessors.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.ecuc.accessors442.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.ecuc.examples.accessors442.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.ecuc.initializers.feature.group" version="4.12.0.201904251603"/>
      <unit id="org.artop.ecuc.xtendxpand.feature.group" version="4.12.0.201904251603"/>
      <repository location="https://www.artop.org/containers/artop-sdk-update-site-4.12"/>
    </location>
  </locations>
  <environment>
    <nl>en</nl>
  </environment>
</target>
