/.Ara2FrancaFolder.java._trace
/.EclipseUiLogger.java._trace
/.FaraconPreferencesPage.java._trace
/.FaraconPreferencesAccess.java._trace
/.Ara2FrancaTransformation.java._trace
/.AbstractTransformationAction.java._trace
/.Franca2AraTransformation.java._trace
